exportPattern("^[[:alpha:]]+")
importFrom(magrittr,"%>%")
importFrom(dplyr,"select","mutate","filter","group_by","ungroup","summarise","left_join","arrange","rename","tally","bind_rows","case_when","if_else")
importFrom(readr,"read_csv")
importFrom(stringr,"str_c","str_detect","str_sub")
